<h1>{{ champion.name }}</h1>
<h2>{{ champion.title }}</h2>

<h3>Lore</h3>
<p>{{ champion.lore }}</p>

<h3>Stats</h3>
<p><b>Attack: </b> {{ champion.info.attack }} </p>
<p><b>Defense: </b> {{ champion.info.defense }} </p>
<p><b>Magic: </b> {{ champion.info.magic }} </p>
<p><b>Difficulty: </b> {{ champion.info.difficulty }} </p>
